# Force binary download instead of building from source
sqlite3_binary_host_mirror=https://github.com/TryGhost/node-sqlite3/releases/download
node_sqlite3_binary_host_mirror=https://github.com/TryGhost/node-sqlite3/releases/download

# Use prebuilt binaries for bcrypt
bcrypt_binary_host_mirror=https://github.com/kelektiv/node.bcrypt.js/releases/download
